button {
  cursor: pointer;
  font-weight: bolder;
  height: 4.5em;
}

button:active {
  transform: translateY(4px);
}

.result {
  color: azure;
  background-color: darkgray;
  border: 2px solid black;
  text-align: right;
  padding-right: 10px;
  padding-top: 20px;
}

.clearCal,
.masMenos,
.porcentaje,
.siete,
.ocho,
.nueve,
.cuatro,
.cinco,
.seis,
.uno,
.dos,
.tres,
.cero,
.punto {
  background-color: lightslategray;
}

.division,
.multiplicacion,
.resta,
.suma,
.igual {
  background-color: coral;
}
