.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 50px;
}

.navlinks {
  display: flex;
  gap: 1rem;
}

.navlinks a {
  font-weight: 700;
  text-decoration: none;
  color: #0d0d0d;
}

.navlinks a:active {
  color: #0d0d0d;
}
